@if (!isAdminRoute) {
<footer>
    <section>
        <h3>Contacte con nosotros</h3>

        <article>
            <a href="tel:+34620800347">
                <img src="assets/iconoTelefono.png" alt="Teléfono" title="Llámenos" />
                <p>+34 620800347</p>
            </a>
        </article>

        <article>
            <a href="https://www.facebook.com/carpinteria.antoniomacian" target="_blank">
                <img src="assets/iconoFacebook.png" alt="Facebook" title="Nuestro Facebook" />
                <p>@Antonio Macián Pavía</p>
            </a>
        </article>

        <article>
            <a href="mailto:amaciansl@hotmail.com" target="_blank">
                <img src="assets/iconoOutlook.png" alt="Email" title="Escríbanos un correo" />
                <p>amaciansl@hotmail.com</p>
            </a>
        </article>
    </section>

    <hr />

    <div class="footer-bottom">
        <p>© 2025 Macián Carpintería.</p>
        <p>Todos los derechos reservados.</p>
        <p>Macián Carpintería es una empresa registrada en España.</p>
    </div>
</footer>
}