<nav class="topbar">
  <img src="assets/logo.png" alt="Logo" class="logo" [class.big]="menuOpen">

  <button class="burger" (click)="toggleMenu()" [class.open]="menuOpen">
    <span></span>
    <span></span>
    <span></span>
  </button>
</nav>

<div class="push-menu" [class.open]="menuOpen">
  <div class="menu-inner">
    <ul>
      <li><a routerLink="/" (click)="closeMenu()">Inicio</a></li>
      <li><a routerLink="/servicios" (click)="closeMenu()">Servicios</a></li>
      <li><a routerLink="/proyectos" (click)="closeMenu()">Proyectos</a></li>
      <li><a routerLink="/resenas" (click)="closeMenu()">Reseñas</a></li>
      <li><a routerLink="/contacto" (click)="closeMenu()">Contacto</a></li>
      <li><a (click)="goAdmin()">Administración</a></li>
    </ul>
  </div>
</div>